################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WarPigs-SharedXP/.vs/WarPigs.SharedXP
